@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<body>
    <h1 style="text-align:center;font-family:'Baskerville Old Face';color:cadetblue"><u>About Us</u></h1>
    <p>
        <center class="Maxx">
            Please take your time looking around at the most complete selection of  toys, action figures & trading card games anywhere in the world!<br /> We work relentlessly to bring you an easy to navigate, 100% safe & secure, fully stocked on-line store. We continue to work extremely hard to stay two steps ahead of our competitors.<br /> They try to copy us but they just can't keep up!<br />At e-Junction.com, there are a 3 rules we live by.... Largest selection, competitive pricing & good customer service. With those 3 qualities in place, you will stand out from the crowd.<br /><b><i>Thanks again for visiting us!</i></b>
        </center>
    </p>
</body>