@model IEnumerable<ECommerce.Models.Category>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main_wrapper">
    <div id="main_content">

        <div>
            <div class="navbar ">
                <div class="MyNav">
                    <ul class="nav navbar-nav "></ul>
                </div>
            </div>

            <div class="header">
                <h1 style="text-align:center" class="media-heading"><b>WELCOME TO e-Junction.com</b><br /></h1>
                <h2 style="text-align:center;font-family:'Monotype Corsiva';color:crimson"><b>Bringing Smile To Everyone!!</b></h2>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                     @*   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    *@
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" align="center" onchange="10">
                    <div class="item active">
                            <img src="~/Images/4.jpg" alt="..." width="1423" height="300">
                        </div>
                        <div class="item ">
                            <img src="~/Images/5.jpg" alt="..." width="1423" height="300">
                        </div>@*
                        <div class="item">
                            <img src="~/Images/02.jpg" alt="..." width="1423" height="300">
                        </div>
                    <div class="item active">
                        <img src="~/Images/4.jpg" alt="..." width="1423" height="300">
                    </div>
                    <div class="item">
                        <img src="~/Images/5.jpg" alt="..." width="1423" height="300">
                    </div>*@

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br/>
            <br />
            <div class="h3">
                <h3 style="text-align:left" class="media-heading"><b>Shop by Category</b><br /></h3>
                <br />
                <h4 style="text-align:initial"><b>CARS</b></h4>
            </div>
            <br />
           <br />

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" align="center" onchange="20">
                    <div class="item active">
                        <img src="~/Images/car.jpg" alt="..." width="622" height="322">
                    </div>
                    <div class="item ">
                        <img src="~/Images/Old_time.JPG" alt="..." width="622" height="322">
                    </div>
                  

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <h4 style="text-align:initial"><b>PLANE</b></h4>
            <br />

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="4" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                   
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" align="center" onchange="20">
                    <div class="item active">
                        <img src="~/Images/Glider.jpg" alt="..." width="522" height="332">
                    </div>
                    <div class="item ">
                        <img src="~/Images/propeller.jpg" alt="..." width="560" height="300">
                    </div>
                   

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>